@import url('https://fonts.googleapis.com/css2?family=Allura&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

html,
body {
    overflow-x: hidden;
}

/* Works for Webkit browsers (Chrome, Safari) */
.nav::-webkit-scrollbar {
    display: none;
}

/* Works for Firefox */
.nav {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    overflow: auto;
    /* Ensure scrolling is still allowed */
}

html {
    box-sizing: border-box;
}

body {
    user-select: none;
    -webkit-user-select: none;
    background-color: #F3F3F3;
}

section {
    margin: 1rem 1rem 2rem;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero {
    height: calc(100vh - 200px);
}

@media (min-width:50rem) {
    .hero {
        height: calc(100vh - 180px);
    }
}

.scroll-smooth {
    scroll-behavior: smooth;
}


/* Nav event handlers */
.grabbing {
    cursor: grabbing;
}

.grab {
    cursor: grab;
}

/* Elements */
img,
a {
    user-drag: none;
    -webkit-user-drag: none;
    /* Stops default dragging */
}

button {
    cursor: pointer;
    /* Ensures it's clickable */
    border: none;
}

/* Custom text colors */
.text-maroonish {
    color: #810303;
}

.text-blueish {
    color: #024BB4;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Allura', cursive;
    font-weight: 400;
    line-height: 1.2;
}

p,
span,
li {
    font-family: 'Poppins', sans-serif;
    max-width: 60ch;
    font-size: .875rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

@media (min-width:40rem) {

    p,
    li {
        font-size: 1rem;
    }
}

@media (min-width:50rem) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3rem;
    }

    p,
    li {
        font-size: 1.13rem;
    }
}

/* Custom */
.line {
    height: 1px;
    background-color: #8D8B13;
}

.headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media(min-width: 50rem) {
    .headline {
        flex-direction: row;
        gap: 2rem;
    }
}

/* Culture Grids */
.grid {
    display: grid;
    gap: .3rem;
    padding-top: 1rem;
}

.grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .3rem;
}

/* Bayanihan */
.bayanihan-grid,
.hospitality-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

/* Motto */
.motto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.motto-img {
    width: 50%;
    max-width: 20rem;
    object-fit: cover;
    aspect-ratio: 4 / 2;
}

@media (min-width:50rem) {
    .grid {
        gap: .5rem;
    }

    .grid img {
        border-radius: .5rem;
    }

    /* Bayanihan */
    .bayanihan-grid {
        grid-template-columns: 1.5fr 1fr 1fr;
    }

    .bayanihan-grid img:nth-child(1),
    .hospitality-grid img:nth-child(1) {
        grid-row: 1 / span 2;
        grid-column: 1;
    }

    .bayanihan-grid img:nth-child(2) {
        grid-row: 1;
        grid-column: 2;
        aspect-ratio: 4 / 2;
    }

    .bayanihan-grid img:nth-child(3) {
        grid-row: 2;
        grid-column: 2;
        aspect-ratio: 4 / 2;
    }

    .bayanihan-grid img:nth-child(4) {
        grid-row: 1 / span 2;
        grid-column: 3;
    }

    /* Hospitality */
    .hospitality-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .hospitality-grid img:nth-child(2) {
        grid-row: 1 / span 2;
        grid-column: 2;
    }

    .hospitality-grid img:nth-child(3) {
        grid-row: 1;
        grid-column: 3;
        aspect-ratio: 4 / 2;
    }

    .hospitality-grid img:nth-child(4) {
        grid-row: 2;
        grid-column: 3;
        aspect-ratio: 4 / 2;
    }

    /* Respect */
    .respect-grid {
        padding-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        align-items: center;
        text-align: center;
    }

    .respect-grid img {
        aspect-ratio: 4 / 3;
    }

    .motto-img {
        max-width: 28rem;
    }
}

@media(min-width: 64rem) {
    .flag {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}